$font-family: "Avenir Next", Helvetica, Arial, sans-serif;

@font-face {
  font-family: "BebasNeue";
  src: url("/src/assets/fonts/BebasNeue-Regular.otf") format("opentype");
}
@mixin font-defaults {
  font-family: "BebasNeue", sans-serif;
}

@mixin heading {
  @include font-defaults;

  font-size: 40px;
  font-weight: bold;
}
